
.fonts_Shadows_Into_Light{
    font-family: "Shadows Into Light", cursive;
}
.fonts_roboto{
    font-family: "Roboto", sans-serif;
}
.color_white{
    color: white; 
}
.color_black{
    color: black;
}
.color_border_foto{
    border: 8px solid #81613B;
}
.my_custom_navbar_brand{
    background-color: rgb(102, 142, 104);
    
}
.my_custom_grand_open{
    background-image: url("../img/ジュアル.png");
    height: 415px;
    background-repeat: no-repeat;
    background-size: contain;
    
}
@media (max-width:445px){
    .my_custom_grand_open{
        background-image: url("../img/メインビジュアル.png");
        
    }
}
.my_custom_menu_link{
    background-color: #668E68;
    
    text-decoration: none;
    padding: 10px 30px;

}
.my_custom_menu_foto_text{
    font-size: 35px;
    position: relative;
    bottom: 80px;
    font-weight: 700;
    
    
    
}
.my_custom_menu_foto p{
    font-size: 28px;
    
   
}
@media (max-width:992px){
    .my_custom_menu_foto{
        flex-direction: column;
        align-items: center;
    }
}
.my_custom_design_café{
    background-image: url("../img/cafe\ 2.png");
    height: 415px;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:720px){
    .my_custom_design_café{
        background-image: url("../img/cafe\ 1.png");
    }
}
.my_custom_design_café_text{
    width: 300px;
    margin: 0 auto;
}
.my_custom_news{
    background-color: #81613B;
    
}
.my_castom_news_border{
    max-width: 675px;
    margin: 0 auto;
    background-color: beige;
}
.my_castom_footer{
    background-color: black;
    
}
.my_castom_footer_contact{
    max-width: 200px;
}
@media (max-width:700px){
    .my_castom_footer{
        display: flex;
        flex-direction: column;
       text-align: center;
    }
    .my_castom_footer_contact{
        margin: 0 auto;
        padding-bottom: 50px;
    }
}
